- content_for(:scripts) do
  :javascript
    mixpanel.track("Edit widget viewed", { "widget": "#{@widget[:id]}" });

%h2.title-divider
  %span
    Edit #{@widget[:name]} for
    %a{href: "#{public_board_url(@board)}#edit"}=@board.name

%div.widget{"ng-app" => "teamstatus.jobs", "ng-controller" => "WidgetCtrl", "data-widget" => render(:template => 'jobs/show', :formats => :json)}

  %form{role: "form", :name => "jobForm", "ng-submit" => "saveWidget()"}
    .form-group
      %label{for: "title"} Widget title
      %input#title.form-control{name: "title", "ng-model" => "widgetSettings.title", placeholder: "Optional title", type: "text"}/

    .settings
      = render :layout => false, :template => "integrations/#{@widget[:id]}/config"

    %button.btn.btn-success{:type => "submit"}
      %i.fa.fa-cog
      Save widget
    %a.btn.btn-link.cancel{href: public_board_url(@board) + '#edit'}
      Cancel
