- content_for(:head) do
  %meta{:name => "ts.board.publicId", :content => @board.public_id}
  %meta{:name => "ts.board.id", :content => @board.id}
  %meta{:name => "ts.board.editUrl", :content => "#{public_board_url(@board)}#edit"}
- content_for(:scripts) do
  :javascript
    mixpanel.track("Edit widget viewed", { "widget": "#{@widget[:id]}" });

%h2.title-divider
  %span
    Edit #{@widget[:name]} for
    %a{href: "#{public_board_url(@board)}#edit"}=@board.name

%div{"ng-app" => "teamstatus.console.widget.add", "ng-controller" => "WidgetsCtrl"}

  %form{role: "form", :name => "jobForm", "ng-submit" => "addWidget()"}
    .form-group
      %label{for: "title"} Widget title
      %input#title.form-control{name: "title", "ng-model" => "widgetSettings.title", placeholder: "Optional title", type: "text"}/

    .settings
      = render :layout => false, :template => "integrations/#{@widget[:id]}/config"

    %button.btn.btn-success{:type => "submit", 'ng-if' => '!editing'}
      %i.fa.fa-plus
      Add widget
    %button.btn.btn-success{:type => "submit", 'ng-if' => 'editing'}
      %i.fa.fa-cog
      Save widget
    %a.btn.btn-link{href: public_board_url(@board) + '#edit'}
      Cancel
